/* PHASE 8: Thumbs */
.thumbs a:before {
  /* content: attr(title);
  background: black;
  color: white;
  font-size: 12px;
  padding: 6px;
  border-radius: 5px;
  
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); */
  content: attr(title);
  background: black;
  color: white;
  font-size: 12px;
  border-radius: 5px;
  padding: 6px;
  display: none;
}

.thumbs a:hover {
  content: attr(title);
  display: block;
}

.thumbs ul {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 12px;
}

.thumb img {
  border: 1px solid black;
  border-radius: 6px;
}